<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <% if user_signed_in? %>
        <p>Konnichiwa,<%=current_user.email%></p>
        <%=link_to "Log_in", destroy_user_session_path, method: :delete %>
      <% else %>
        <%=link_to "Sign_in", new_user_session_path %>
        <%=link_to "User Profile", new_user_registration_path %>
    <% end %>
  </body>
</html>
